.sudoku-board {
    width: 90%; 
    margin-left: 10%;
}


.sudoku-board-sudoku-grid {
    float: left; 

}
.sudoku-board-sudoku-pad {
    float: left; 
    margin-left: 5%;
    margin-top: 5%;
}

.sudoku-board-magnified-cell {
    float: left;
    margin-left: 5%;
    margin-top: 33%;
}

.clearFloat::after {
    display: table; 
    content: '';
    clear: both; 
}

@media screen and (max-width: 800px) {
    .sudoku-board {
        width: 100%; 
        margin-left: 0; 
    }

    .sudoku-board-sudoku-pad {
        width : 80%;
    }
    
    .sudoku-board-magnified-cell {
        display: none;
    }


    .sudoku-board-sudoku-pad {
        float: none; 
        margin-left: 0;
        margin-top: 0;
    }

}

@media screen and (max-width: 600px) {
    .sudoku-board {
        width: 100%; 
        margin-left: 0; 
    }

    .sudoku-board-sudoku-pad {
        width : 100%;
    }

    .sudoku-board-magnified-cell {
        display: none;
    }
    .sudoku-board-magnified-cell {
        display: none;
    }

    .sudoku-board-select {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .sudoku-board-sudoku-pad {
        float: none; 
        margin-left: 0;
        margin-top: 0;
    }
    
}
