.warning { 
    color: red; 
    font-size: 10px;
}

#login, #register, form{
    display: inline;
}


nav {
    background-color: gray;
    padding: 5px;
    margin-bottom: 10px;
}

nav button, nav form {
    margin-left: 10px; 
}

a {
    text-decoration: none;
    color: black;
}